openapi: 3.1.1
info:
  title: Chartmetric Developer API
  description: >-
    Public API documentation for the Chartmetric Developer API.


    ## Credit consumption


    On the Prepaid API plan every request consumes API credits. Most endpoints
    cost

    **1 credit** per request. Premium endpoints — labelled `💎 Premium` in their
    title —

    return higher-cost audience and playlist data and consume **2 credits** per
    request:


    - `GET /api/artist/{id}/instagram-audience-stats`

    - `GET /api/artist/{id}/instagram-audience-stats/dates`

    - `GET /api/artist/{id}/social-audience-stats`

    - `GET /api/artist/{id}/tiktok-audience-stats`

    - `GET /api/artist/{id}/tiktok-influencer-stats`

    - `GET /api/artist/{id}/tiktok-top-influencers`

    - `GET /api/artist/{id}/tiktok-top-videos`

    - `GET /api/artist/{id}/where-people-listen`

    - `GET /api/artist/{id}/youtube-audience-stats`

    - `GET /api/artist/{id}/{platform}/{status}/playlists`

    - `GET /api/brand/v2/{brandId}/audience`

    - `GET /api/track/{id}/tiktok-influencer-stats`

    - `GET /api/track/{id}/tiktok-top-influencers`

    - `GET /api/track/{id}/tiktok-top-sounds`

    - `GET /api/track/{id}/topVideos`


    Credits are deducted when the request is received, regardless of the number
    of rows

    returned. Your remaining balance and the current per-endpoint costs are
    shown in your

    Chartmetric account under Settings → API Usage. Fixed-rate monthly API plans
    are not

    billed per request; they are limited by their request rate instead.
  version: 1.0.1426
  contact:
    name: Chartmetric API Support
    email: backend-engineering@chartmetric.com
servers:
  - url: https://api.chartmetric.com
    description: Production
tags:
  - name: Token
    description: Authentication. Exchange your refresh token for a short-lived
      access token, which must be sent as a bearer token on every other request.
  - name: Search
    description: Search across Chartmetric entities. Endpoints resolve a free-text
      query to artists, tracks, albums, playlists and curators, with a dedicated
      search for social handles and profile URLs.
  - name: Genre
    description: Chartmetric's genre taxonomy, used to filter artists, tracks and
      charts. Endpoints list all genres and return a single genre by ID.
  - name: City
    description: Cities used for geographic breakdowns of audience and consumption
      data. Endpoints list the cities of a country and return the top artists or
      tracks in a city for a given platform.
  - name: Album
    description: Albums, EPs and singles as released on streaming platforms,
      identified by a Chartmetric album ID. Endpoints cover album metadata,
      cross-platform ID lookup, the tracklist, per-platform stats, chart
      appearances, and the playlists the album is featured on.
  - name: Artist
    description: Artists, the core entity in Chartmetric, identified by a
      Chartmetric artist ID. Endpoints cover metadata and platform URLs,
      cross-platform ID lookup, fan metrics and cached stat trends, artist rank
      and Cross-Platform Performance (CPP), catalog data (tracks, albums, chart
      appearances, playlists), audience demographics for Instagram, TikTok and
      YouTube plus Spotify listener geography, discovery lists (A&R, similar,
      related and neighboring artists), and career context such as milestones,
      news, live events, venues and TV appearances.
  - name: Brand
    description: Brands tracked for sponsorship and partnership research. Endpoints
      list brand names, filter brands by interest category, and return the
      details of a single brand.
  - name: Charts
    description: Charts collected from streaming, social and radio platforms —
      Spotify, Apple Music, iTunes, Amazon, Deezer, YouTube, TikTok, Shazam,
      Beatport, SoundCloud, Twitch, Pandora, Anghami, QQ Music and regional
      charts such as Circle, Hanteo, Melon and Line Music. Endpoints return
      chart rankings per platform and entity type (artist, track, album, video,
      sound, user), the Chartmetric score of a charted entity, and the
      supporting lookups for available chart dates, countries and genres.
  - name: Country
    description: Country-level rankings. Endpoints return artist rankings for a
      country, broken down by area, ranking type and sub-area.
  - name: Curator
    description: Playlist curators — the editorial and user accounts that own
      playlists on Spotify, Apple Music, Amazon, Deezer, YouTube and iTunes.
      Endpoints list curators per platform and return a curator's metadata,
      social and streaming URLs, follower metrics over time, and playlists.
  - name: Playlist
    description: Playlists across Spotify, Apple Music, Amazon, Deezer, YouTube,
      iTunes and SoundCloud. Endpoints list playlists per platform and return
      playlist metadata, follower and position history, current or past
      tracklists, a snapshot for a specific date, similar playlists, the last
      time the playlist was updated, and the playlist journey of an artist,
      album or track.
  - name: Radio
    description: Radio airplay data for artists and tracks. Endpoints return airplay
      time series, total airplay counts overall, by entity and by broadcast
      market, and the radio station list for a country.
  - name: Track
    description: Tracks (recordings), identified by a Chartmetric track ID or a
      platform ID such as an ISRC or Spotify ID. Endpoints cover track metadata,
      cross-platform ID lookup, per-platform stats, chart appearances, playlist
      placements and dated snapshots, playlist stream estimates (single and
      batch), related tracks, milestones, filtered track lists, and TikTok video
      and YouTube Shorts performance.
  - name: Festival
    description: Music festivals tracked by Chartmetric. Endpoints return the list
      of festivals.
  - name: Event
    description: Live events tied to a venue. Endpoints return the events scheduled
      at a given venue.
  - name: SNS
    description: Deep social data for the social accounts linked to Chartmetric
      entities. Endpoints return post-level performance, such as the top
      Instagram posts and reels of an artist.
  - name: Venue
    description: Venues used for live-event and touring data. Endpoints return the
      list of venues.
paths:
  /api/token:
    post:
      summary: Create API Access Token
      tags:
        - Token
      operationId: createAccessToken
      description: Exchange a refresh token for a short-lived JWT access token used to
        authorize Developer API requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshtoken:
                  type: string
                  description: Long-lived refresh token issued at signup; used to mint a fresh
                    short-lived access token.
                  examples:
                    - example
              required:
                - refreshtoken
              additionalProperties: false
              examples:
                - refreshtoken: example
            examples:
              default:
                value:
                  refreshtoken: example
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: "Short-lived JWT access token to use as `Authorization: Bearer
                      <token>` on subsequent Developer API calls."
                  expires_in:
                    type: integer
                    description: Number of seconds after which the access token expires.
                  refresh_token:
                    type: string
                    description: Long-lived refresh token for obtaining a new access token (echoes
                      the token supplied in the request).
                  scope:
                    type: string
                    description: Level of access granted by the token. Currently always `api`.
                required:
                  - token
                  - expires_in
                  - refresh_token
                  - scope
                additionalProperties: false
              examples:
                default:
                  value:
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 3600
                    refresh_token: <refresh-token>
                    scope: api
  /api/search:
    get:
      summary: Chartmetric Search
      tags:
        - Search
      operationId: searchAll
      description: Search tracks, albums, artists, curators, playlists, stations,
        cities, songwriters, and more with a single query. Also accepts DSP URLs
        (Spotify, Apple Music, Deezer, etc.). The shape below is the default
        (`type=all`) response; narrowing via `type=artists|tracks|playlists|...`
        returns only the matching bucket. Enabling `beta=true` switches to the
        beta global-search engine which returns `suggestions` entries instead.
      parameters:
        - name: q
          in: query
          schema:
            type: string
            oneOf:
              - type: string
                maxLength: 100
            description: Search query. Free text matched across artists, tracks, albums,
              playlists, curators, stations, cities, and songwriters; or a
              streaming/social URL to look up a single entity by its native ID.
          required: true
          description: Search query. Free text matched across artists, tracks, albums,
            playlists, curators, stations, cities, and songwriters; or a
            streaming/social URL to look up a single entity by its native ID.
          examples:
            default:
              value: example
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Maximum number of items to return per request.
            default: 10
          required: false
          description: Maximum number of items to return per request.
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            description: Number of items to skip from the start of the result set; pair with
              `limit` to paginate.
          required: false
          description: Number of items to skip from the start of the result set; pair with
            `limit` to paginate.
        - name: type
          in: query
          schema:
            type: string
            enum:
              - all
              - artists
              - tracks
              - playlists
              - curators
              - albums
              - stations
              - cities
              - songwriters
            description: Restrict the search to a single entity bucket. One of `all`,
              `artists`, `tracks`, `playlists`, `curators`, `albums`,
              `stations`, `cities`, `songwriters`. Defaults to `all`.
            default: all
          required: false
          description: Restrict the search to a single entity bucket. One of `all`,
            `artists`, `tracks`, `playlists`, `curators`, `albums`, `stations`,
            `cities`, `songwriters`. Defaults to `all`.
        - name: beta
          in: query
          schema:
            type: boolean
            description: If true, use the beta global-search engine which returns a flat
              `suggestions` list with `match_strength` and `target` per item
              instead of bucketed results.
            default: false
          required: false
          description: If true, use the beta global-search engine which returns a flat
            `suggestions` list with `match_strength` and `target` per item
            instead of bucketed results.
        - name: platforms
          in: query
          schema:
            oneOf:
              - type: array
                items:
                  type: string
                  enum:
                    - cm
                    - spotify
                    - itunes
                    - applemusic
                    - deezer
                    - amazon
                    - youtube
                    - tidal
                    - soundcloud
                    - acr
            description: Restrict beta search to these platforms. Only valid when
              `beta=true`. One or more of `cm`, `spotify`, `itunes`,
              `applemusic`, `deezer`, `amazon`, `youtube`, `tidal`,
              `soundcloud`, `acr`.
          required: false
          description: Restrict beta search to these platforms. Only valid when
            `beta=true`. One or more of `cm`, `spotify`, `itunes`, `applemusic`,
            `deezer`, `amazon`, `youtube`, `tidal`, `soundcloud`, `acr`.
        - name: triggerCitiesOnly
          in: query
          schema:
            type: boolean
            description: If true, restrict city results to Chartmetric Trigger Cities.
              Available for both beta and non-beta search.
            default: false
          required: false
          description: If true, restrict city results to Chartmetric Trigger Cities.
            Available for both beta and non-beta search.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: object
                    properties:
                      artists:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric artist ID.
                            name:
                              type: string
                              description: Artist name.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Artist image URL.
                            isni:
                              type:
                                - string
                                - "null"
                              description: International Standard Name Identifier (ISNI) of the artist.
                            sp_followers:
                              type:
                                - integer
                                - "null"
                              minimum: 0
                              description: Spotify follower count.
                            sp_monthly_listeners:
                              type:
                                - integer
                                - "null"
                              minimum: 0
                              description: Spotify monthly listener count.
                            cm_artist_score:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Chartmetric artist score (composite popularity metric).
                          required:
                            - id
                            - name
                        description: Artist matches.
                      playlists:
                        type: object
                        properties:
                          spotify:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 0
                                  maximum: 2147483647
                                  description: Chartmetric playlist ID.
                                name:
                                  type: string
                                  description: Playlist name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist cover image URL.
                                owner_name:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist owner / curator's display name.
                              required:
                                - id
                                - name
                            description: Spotify playlist matches.
                          applemusic:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 0
                                  maximum: 2147483647
                                  description: Chartmetric playlist ID.
                                name:
                                  type: string
                                  description: Playlist name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist cover image URL.
                                owner_name:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist owner / curator's display name.
                              required:
                                - id
                                - name
                            description: Apple Music playlist matches.
                          deezer:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  anyOf:
                                    - type: string
                                    - type: integer
                                      minimum: 0
                                      maximum: 2147483647
                                  description: Chartmetric playlist ID. May be returned as a string for
                                    platform-native IDs.
                                name:
                                  type: string
                                  description: Playlist name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist cover image URL.
                                owner_name:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist owner / curator's display name.
                              required:
                                - id
                                - name
                            description: Deezer playlist matches.
                          amazon:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  anyOf:
                                    - type: string
                                    - type: integer
                                      minimum: 0
                                      maximum: 2147483647
                                  description: Chartmetric playlist ID. May be returned as a string for
                                    platform-native IDs.
                                name:
                                  type: string
                                  description: Playlist name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist cover image URL.
                                owner_name:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist owner / curator's display name.
                              required:
                                - id
                                - name
                            description: Amazon Music playlist matches.
                          youtube:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: YouTube playlist ID.
                                name:
                                  type: string
                                  description: Playlist name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Playlist cover image URL.
                              required:
                                - id
                                - name
                            description: YouTube playlist matches.
                          soundcloud:
                            type: array
                            items: {}
                            description: SoundCloud playlist matches.
                        required:
                          - spotify
                          - applemusic
                          - deezer
                          - amazon
                          - youtube
                          - soundcloud
                        description: Playlist matches grouped by streaming platform.
                      tracks:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              anyOf:
                                - type: string
                                - type: number
                                  format: float
                              description: Chartmetric track ID. May be returned as a string or number.
                            name:
                              type: string
                              description: Track name.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Track cover image URL.
                            isrc:
                              type:
                                - string
                                - "null"
                              description: International Standard Recording Code identifying the track.
                            artist_names:
                              type: array
                              items:
                                type: string
                              description: Artist names credited on the track.
                          required:
                            - id
                            - name
                            - artist_names
                        description: Track matches.
                      curators:
                        type: object
                        properties:
                          spotify:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 0
                                  maximum: 2147483647
                                  description: Chartmetric curator ID.
                                name:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator's display name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator profile image URL.
                              required:
                                - id
                            description: Spotify curator matches.
                          applemusic:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 0
                                  maximum: 2147483647
                                  description: Chartmetric curator ID.
                                name:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator's display name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator profile image URL.
                              required:
                                - id
                            description: Apple Music curator matches.
                          deezer:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  anyOf:
                                    - type: string
                                    - type: integer
                                      minimum: 0
                                      maximum: 2147483647
                                  description: Chartmetric curator ID. May be returned as a string for
                                    platform-native IDs.
                                name:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator's display name.
                                image_url:
                                  type:
                                    - string
                                    - "null"
                                  description: Curator profile image URL.
                              required:
                                - id
                            description: Deezer curator matches.
                          amazon:
                            type: array
                            items: {}
                            description: Amazon Music curator matches.
                          youtube:
                            type: array
                            items: {}
                            description: YouTube curator matches.
                        required:
                          - spotify
                          - applemusic
                          - deezer
                          - amazon
                          - youtube
                        description: Curator matches grouped by streaming platform.
                      albums:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric album ID.
                            name:
                              type: string
                              description: Album name.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Album cover image URL.
                            label:
                              type:
                                - string
                                - "null"
                              description: Record label that released the album.
                          required:
                            - id
                            - name
                        description: Album matches.
                      stations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric station ID.
                            name:
                              type: string
                              description: Radio/SiriusXM station name.
                            genre:
                              type:
                                - string
                                - "null"
                              description: Genre format of the station.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Station logo or image URL.
                            station_city:
                              type:
                                - string
                                - "null"
                              description: City where the station is broadcast from.
                            country:
                              type:
                                - string
                                - "null"
                              description: Country where the station is broadcast from.
                          required:
                            - id
                            - name
                        description: Radio and SiriusXM station matches.
                      labels:
                        type: array
                        items: {}
                        description: Record label matches.
                      cities:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric city ID.
                            name:
                              type: string
                              description: City name.
                            name_ascii:
                              type:
                                - string
                                - "null"
                              description: ASCII-only transliteration of the city name.
                            population:
                              type:
                                - number
                                - "null"
                              format: float
                              description: City population. Used to disambiguate same-named cities across
                                other endpoints.
                            country:
                              type:
                                - string
                                - "null"
                              description: Country name.
                            code2:
                              type:
                                - string
                                - "null"
                              minLength: 2
                              maxLength: 2
                              description: ISO 3166-1 alpha-2 country code (2 letters, e.g. 'US', 'BR', 'GB').
                            province:
                              type:
                                - string
                                - "null"
                              description: State, province, or first-level administrative subdivision.
                            trigger_city:
                              type: boolean
                              description: Whether the city is classified as a Chartmetric Trigger City.
                          required:
                            - id
                            - name
                        description: City matches.
                      countries:
                        type: array
                        items: {}
                        description: Country matches.
                      songwriters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - "null"
                              description: Songwriter name.
                            doc_id:
                              type: integer
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric songwriter ID.
                            artistName:
                              type:
                                - string
                                - "null"
                              description: Linked artist name when the songwriter also performs.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Songwriter image URL.
                          required:
                            - doc_id
                        description: Songwriter matches.
                      genres:
                        type: array
                        items: {}
                        description: Genre matches.
                      festivals:
                        type: array
                        items: {}
                        description: Festival matches.
                    required:
                      - artists
                      - playlists
                      - tracks
                      - curators
                      - albums
                      - stations
                      - labels
                      - cities
                      - songwriters
                      - genres
                      - festivals
                required:
                  - obj
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      artists:
                        - id: 3963
                          name: Ariana Grande
                          image_url: https://i.scdn.co/image/ab6761610000e5eb40b5c07ab77b6b1a9075fdc0
                          isni: "0000000059110272"
                          sp_followers: 97135043
                          sp_monthly_listeners: 80733093
                          cm_artist_score: 495952
                      playlists:
                        spotify:
                          - id: 741236
                            name: "Ariana Grande: Best Of"
                            image_url: https://i.scdn.co/image/ab67706c0000bebb4d5b3fbd576a2254f137f5e1
                            owner_name: arianagrandeofficial
                        applemusic: []
                        deezer:
                          - id: "1147053693"
                            name: Ariana Grande Selection
                            image_url: https://api.deezer.com/playlist/1147053693/image
                            owner_name: Tigo El Salvador
                        amazon: []
                        youtube: []
                        soundcloud: []
                      tracks:
                        - id: "27590886"
                          name: Ariana
                          image_url: https://i.scdn.co/image/9fa1a27e9e43b48a822e23285d1a13b64f74d311
                          isrc: GBKPL1977961
                          artist_names:
                            - Tony Anderson
                      curators:
                        spotify:
                          - id: 59081
                            name: arianagrandeofficial
                            image_url: null
                        applemusic: []
                        deezer: []
                        amazon: []
                        youtube: []
                      albums:
                        - id: 15091594
                          name: Ariana
                          image_url: https://i.scdn.co/image/ab67616d0000b2737b0314e32f28c3aa6bcab762
                          label: Dfideliz
                      stations: []
                      labels: []
                      cities:
                        - id: 16166
                          name: Ariana
                          name_ascii: Ariana
                          population: 97687
                          country: Tunisia
                          code2: TN
                          province: null
                          trigger_city: false
                      countries: []
                      songwriters:
                        - name: Nicole Ariana
                          doc_id: 1564636
                          artistName: Nicole Ariana
                          image_url: null
                      genres: []
                      festivals: []
  /api/search/social:
    get:
      summary: Chartmetric Social Search
      tags:
        - Search
      operationId: searchSocial
      description: Search artists, curators, radio/SiriusXM stations, and songwriters
        by their social media URLs. DSP links (Spotify, Apple Music, etc.)
        should be resolved via `/api/{entity}/{type}/{id}/get-ids` instead.
      parameters:
        - name: url
          in: query
          schema:
            type: string
            description: Social media URL to resolve (Instagram, TikTok, X/Twitter, YouTube,
              Facebook, etc.). DSP links should be resolved via
              `/api/{entity}/{type}/{id}/get-ids` instead.
          required: true
          description: Social media URL to resolve (Instagram, TikTok, X/Twitter, YouTube,
            Facebook, etc.). DSP links should be resolved via
            `/api/{entity}/{type}/{id}/get-ids` instead.
          examples:
            default:
              value: https://example.com
        - name: type
          in: query
          schema:
            type: string
            enum:
              - all
              - artists
              - radio
              - siriusxm
              - songwriters
              - curators
            description: Restrict the search to a single entity type. One of `all`,
              `artists`, `radio`, `siriusxm`, `songwriters`, `curators`.
              Defaults to `all`.
            default: all
          required: false
          description: Restrict the search to a single entity type. One of `all`,
            `artists`, `radio`, `siriusxm`, `songwriters`, `curators`. Defaults
            to `all`.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: number
                              format: float
                          description: Chartmetric ID of the resolved entity. Numeric for artist/curator,
                            string for platform-native IDs (e.g. SiriusXM
                            channel slug).
                        type:
                          type:
                            - string
                            - "null"
                          description: Entity type of the match (e.g. `artist`, `curator`, `radio`,
                            `siriusxm`, `songwriter`).
                        name:
                          type:
                            - string
                            - "null"
                          description: Entity name. Currently populated reliably only for artists.
                        image_url:
                          type:
                            - string
                            - "null"
                          description: Entity image URL. Currently populated reliably only for artists.
                      required:
                        - id
                required:
                  - obj
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      - id: 2762
                        type: artist
                        name: Taylor Swift
                        image_url: https://i.scdn.co/image/ab67616100005174f173136b94ae2f75f49f8b2b
  /api/genres:
    get:
      summary: List Chartmetric Genres
      tags:
        - Genre
      operationId: listGenres
      description: List Chartmetric genres, optionally filtered by `name`. Pass
        `isLegacy=true` to receive the legacy `genre` taxonomy instead of
        `genre_v2`.
      parameters:
        - name: name
          in: query
          schema:
            type: string
            description: Case-insensitive substring filter on genre name; omit to return all
              genres.
          required: false
          description: Case-insensitive substring filter on genre name; omit to return all
            genres.
        - name: isLegacy
          in: query
          schema:
            type: boolean
            description: When true, returns the legacy `genre` taxonomy; when false
              (default), returns the modern `genre_v2` taxonomy.
            default: false
          required: false
          description: When true, returns the legacy `genre` taxonomy; when false
            (default), returns the modern `genre_v2` taxonomy.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Chartmetric genre ID.
                        name:
                          type: string
                          description: Genre name (e.g. `K-Pop`, `Mandopop`).
                      required:
                        - id
                        - name
                required:
                  - obj
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      - id: 462862
                        name: Devotional & Spiritual
                      - id: 462863
                        name: Mandopop
  /api/genres/{id}:
    get:
      summary: Get Genre by ID
      tags:
        - Genre
      operationId: getGenreById
      description: Fetch a single Chartmetric genre by its ID.
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
            description: Chartmetric genre ID.
          required: true
          description: Chartmetric genre ID.
          examples:
            default:
              value: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type: integer
                        description: Chartmetric genre ID.
                      name:
                        type: string
                        description: Genre name (e.g. `K-Pop`).
                      type:
                        type: string
                        enum:
                          - genre
                          - genre_v2
                        description: "Taxonomy the genre belongs to: `genre_v2` is the modern
                          Chartmetric taxonomy, `genre` is the legacy taxonomy."
                      source:
                        type: string
                        description: Origin of the genre record (e.g. `cm` for Chartmetric-curated,
                          `spotify` for Spotify-derived sub-genres).
                    required:
                      - id
                      - name
                      - type
                      - source
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      id: 462925
                      name: K-Pop
                      type: genre_v2
                      source: cm
  /api/cities:
    get:
      summary: List Cities by Country
      tags:
        - City
      operationId: listCities
      description: List cities within a country (ISO 3166-1 alpha-2 `country_code`).
        Optionally narrow to a single city by `city_id`.
      parameters:
        - name: country_code
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
            enum:
              - AD
              - AE
              - AF
              - AG
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BM
              - BN
              - BO
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CY
              - CZ
              - DE
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - ID
              - IE
              - IL
              - IM
              - IN
              - IQ
              - IR
              - IS
              - IT
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NG
              - NI
              - NL
              - NO
              - NP
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TC
              - TD
              - TG
              - TH
              - TJ
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - XW
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            description: ISO 3166-1 alpha-2 country code (2 letters, e.g. 'US', 'BR', 'GB').
          required: true
          description: ISO 3166-1 alpha-2 country code (2 letters, e.g. 'US', 'BR', 'GB').
          examples:
            default:
              value: AD
        - name: city_id
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
            description: Chartmetric city ID; narrows the result set to a single city.
          required: false
          description: Chartmetric city ID; narrows the result set to a single city.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: array
                    items:
                      type: object
                      properties:
                        city_id:
                          type: integer
                          description: Chartmetric city ID.
                        city_name:
                          type: string
                          description: City name as stored in Chartmetric.
                        latitude:
                          type:
                            - number
                            - "null"
                          format: float
                          description: City latitude in decimal degrees (WGS84).
                        longitude:
                          type:
                            - number
                            - "null"
                          format: float
                          description: City longitude in decimal degrees (WGS84).
                        population:
                          type:
                            - integer
                            - "null"
                          description: Estimated city population.
                        province:
                          type:
                            - string
                            - "null"
                          description: Province, state, or first-level administrative subdivision the city
                            belongs to.
                        locality:
                          type:
                            - string
                            - "null"
                          description: Locality (typically the same as `city_name`, occasionally a parent
                            locality).
                        country:
                          type:
                            - string
                            - "null"
                          description: Country name the city belongs to.
                        image_url:
                          type:
                            - string
                            - "null"
                          description: URL of a representative image for the city, when available.
                        iso3:
                          type:
                            - string
                            - "null"
                          minLength: 3
                          maxLength: 3
                          description: ISO 3166-1 alpha-3 country code of the city's country (3 letters,
                            e.g. 'USA', 'BRA').
                      required:
                        - city_id
                        - city_name
                required:
                  - obj
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      - city_id: 11778
                        city_name: Culpeper
                        latitude: 38.4705
                        longitude: -78.0001
                        population: 19986
                        province: null
                        locality: Culpeper
                        country: United States
                        image_url: null
                        iso3: USA
  /api/album/{id}/{type}/charts:
    get:
      summary: Album Charts
      tags:
        - Album
      operationId: getAlbumCharts
      description: Chart history for an album on a platform (`applemusic`, `itunes`,
        or `amazon`). Date range accepts up to 365 days between `since` and
        `until`.
      parameters:
        - name: type
          in: path
          schema:
            type: string
            enum:
              - applemusic
              - itunes
              - amazon
            description: Chart source platform. One of `applemusic`, `itunes`, or `amazon`.
          required: true
          description: Chart source platform. One of `applemusic`, `itunes`, or `amazon`.
          examples:
            default:
              value: applemusic
        - name: id
          in: path
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
            description: Chartmetric album ID.
          required: true
          description: Chartmetric album ID.
          examples:
            default:
              value: 1
        - name: since
          in: query
          schema:
            type: string
            format: date
            description: Start date in ISO format (e.g. '2025-11-01'). Defaults to 180 days
              ago.
            default: 2026-03-18
          required: false
          description: Start date in ISO format (e.g. '2025-11-01'). Defaults to 180 days
            ago.
        - name: until
          in: query
          schema:
            type: string
            format: date
            description: End date in ISO format (e.g. '2025-11-15'). Defaults to today; must
              be at most 365 days after `since`.
            default: 2026-09-14
          required: false
          description: End date in ISO format (e.g. '2025-11-15'). Defaults to today; must
            be at most 365 days after `since`.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: object
                    properties:
                      data:
                        type:
                          - array
                          - "null"
                        items:
                          type: object
                          properties:
                            itunes_album_id:
                              type:
                                - string
                                - "null"
                              description: iTunes album ID at the time the chart was recorded.
                            rank:
                              type:
                                - integer
                                - "null"
                              description: Chart position on the recorded date.
                            added_at:
                              type:
                                - string
                                - "null"
                              format: date-time
                              description: Date the chart row was recorded.
                            code2:
                              type:
                                - string
                                - "null"
                              minLength: 2
                              maxLength: 2
                              description: ISO 3166-1 alpha-2 country code of the chart (e.g. 'US').
                            genre:
                              type:
                                - string
                                - "null"
                              description: Chart genre name.
                            gnp:
                              type:
                                - string
                                - "null"
                              description: Chart GNP segment value.
                            pre_rank:
                              type:
                                - integer
                                - "null"
                              description: Chart position on the previous recorded date.
                            peak_rank:
                              type:
                                - integer
                                - "null"
                              description: Best (lowest-numbered) chart position observed.
                            peak_date:
                              type:
                                - string
                                - "null"
                              format: date-time
                              description: Date `peak_rank` was achieved.
                            id:
                              type:
                                - integer
                                - "null"
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric album ID. Same value as `cm_album`.
                            name:
                              type:
                                - string
                                - "null"
                              description: Album name.
                            release_date:
                              type:
                                - string
                                - "null"
                              format: date-time
                              description: Album release date.
                            copyright:
                              type:
                                - string
                                - "null"
                              description: Album copyright statement.
                            num_track:
                              type:
                                - string
                                - "null"
                              description: Number of tracks on the album, returned as a string.
                            upc:
                              type:
                                - string
                                - "null"
                              description: Universal Product Code identifying the release.
                            description:
                              type:
                                - string
                                - "null"
                              description: Album description.
                            is_single:
                              type:
                                - boolean
                                - "null"
                              description: True when the release is classified as a single.
                            artwork_url:
                              type:
                                - string
                                - "null"
                              description: Album artwork image URL.
                            label:
                              type:
                                - string
                                - "null"
                              description: Record label that released the album.
                            genres:
                              type:
                                - string
                                - "null"
                              description: Comma-separated list of album genres.
                            created_at:
                              type:
                                - string
                                - "null"
                              format: date-time
                              description: Date the album row was created in Chartmetric.
                            modified_at:
                              type:
                                - string
                                - "null"
                              format: date-time
                              description: Date the album row was last modified in Chartmetric.
                            cm_album:
                              type:
                                - integer
                                - "null"
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric album ID.
                            storefronts:
                              type: array
                              items:
                                type: string
                              description: ISO 3166-1 alpha-2 country codes where the album is available.
                            itunes_album_ids:
                              type: array
                              items:
                                type: string
                              description: iTunes album IDs associated with this album.
                            artists:
                              type: array
                              items:
                                type: object
                                properties:
                                  itunes_artist_id:
                                    type:
                                      - integer
                                      - "null"
                                    description: iTunes artist ID.
                                  name:
                                    type:
                                      - string
                                      - "null"
                                    description: Artist name.
                                  cm_artist:
                                    type:
                                      - integer
                                      - "null"
                                    minimum: 0
                                    maximum: 2147483647
                                    description: Chartmetric artist ID.
                              description: Artists credited on the album.
                        description: Chart history rows for the album, ordered by `added_at`.
                      length:
                        type: integer
                        minimum: 0
                        description: Total number of rows in `data`.
                    required:
                      - length
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      data:
                        - itunes_album_id: "1450330588"
                          rank: 84
                          added_at: 2020-03-04T08:00:00.000Z
                          code2: US
                          genre: All Genres
                          gnp: "8510700.00"
                          pre_rank: 80
                          peak_rank: 1
                          peak_date: 2019-02-08T08:00:00.000Z
                          id: 3058232
                          name: thank u, next
                          release_date: 2019-02-08T08:00:00.000Z
                          copyright: (P) 2019 Republic Records, a division of UMG Recordings, Inc.
                          num_track: "12"
                          upc: "602577464980"
                          description: null
                          is_single: false
                          artwork_url: https://is5-ssl.mzstatic.com/image/thumb/Music124/v4/4e/26/d5/4e26d5f3-2d62-1b5c-689a-e8de4e6f3797/00602577465284.rgb.jpg/160x160bb.jpeg
                          label: Republic Records
                          genres: Pop,Music
                          created_at: null
                          modified_at: 2020-09-17T03:10:01.823Z
                          cm_album: 3533190
                          storefronts:
                            - AU
                            - JP
                            - LA
                            - NO
                            - US
                          itunes_album_ids:
                            - "1450330588"
                          artists:
                            - itunes_artist_id: 412778295
                              name: Ariana Grande
                              cm_artist: 3963
                      length: 175
  /api/album/{type}/{id}/get-ids:
    get:
      summary: Get Album IDs
      tags:
        - Album
      operationId: getAlbumIds
      description: Resolve an album across platforms given a source identifier. `type`
        accepts `chartmetric`, `upc`, `spotify`, `itunes`, `deezer`, or
        `amazon`. Multiple rows per `cm_album` may be returned when an album has
        several platform identifiers.
      parameters:
        - name: type
          in: path
          schema:
            type: string
            enum:
              - chartmetric
              - upc
              - spotify
              - itunes
              - deezer
              - amazon
            description: Source identifier type. One of `chartmetric`, `upc`, `spotify`,
              `itunes`, `deezer`, or `amazon`.
          required: true
          description: Source identifier type. One of `chartmetric`, `upc`, `spotify`,
            `itunes`, `deezer`, or `amazon`.
          examples:
            default:
              value: chartmetric
        - name: id
          in: path
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-_]+$
            description: Album identifier whose format depends on `type` (numeric
              Chartmetric ID, UPC string, or platform-specific album ID).
          required: true
          description: Album identifier whose format depends on `type` (numeric
            Chartmetric ID, UPC string, or platform-specific album ID).
          examples:
            default:
              value: "2762"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: array
                    items:
                      type: object
                      properties:
                        cm_album:
                          type: integer
                          minimum: 0
                          maximum: 2147483647
                          description: Chartmetric album ID.
                        album_name:
                          type:
                            - string
                            - "null"
                          description: Album name.
                        upc:
                          type:
                            - string
                            - "null"
                          description: Universal Product Code identifying the release.
                        spotify_album_id:
                          type:
                            - string
                            - "null"
                          description: Spotify album ID.
                        itunes_album_id:
                          type:
                            - string
                            - "null"
                          description: iTunes album ID.
                        deezer_album_id:
                          type:
                            - string
                            - "null"
                          description: Deezer album ID.
                        amazon_album_id:
                          type:
                            - string
                            - "null"
                          description: Amazon album ID (ASIN).
                      required:
                        - cm_album
                required:
                  - obj
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      - cm_album: 815685
                        album_name: Deja Fu
                        upc: "3614599568697"
                        spotify_album_id: 3hpphhVJM2QTUMYuXT7nw4
                        itunes_album_id: "1126469777"
                        deezer_album_id: null
                        amazon_album_id: B01HDU9RN0
                      - cm_album: 815685
                        album_name: Deja Fu
                        upc: "3614599568697"
                        spotify_album_id: 3hpphhVJM2QTUMYuXT7nw4
                        itunes_album_id: "1126469777"
                        deezer_album_id: null
                        amazon_album_id: B01HFW1FHW
  /api/album/{id}:
    get:
      summary: Album Metadata
      tags:
        - Album
      operationId: getAlbumMetadata
      description: Album metadata by Chartmetric ID.
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
            description: Chartmetric album ID.
          required: true
          description: Chartmetric album ID.
          examples:
            default:
              value: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: object
                    properties:
                      id:
                        type:
                          - integer
                          - "null"
                        minimum: 0
                        maximum: 2147483647
                        description: Chartmetric album ID. Same value as `cm_album`.
                      upc:
                        type:
                          - string
                          - "null"
                        description: Universal Product Code identifying the release.
                      name:
                        type:
                          - string
                          - "null"
                        description: Album name.
                      local_name:
                        type:
                          - string
                          - "null"
                        description: Localized album name, when available.
                      local_name_locale:
                        type:
                          - string
                          - "null"
                        description: Locale for local_name, when available.
                      image_url:
                        type:
                          - string
                          - "null"
                        description: Album cover image URL.
                      release_date:
                        type:
                          - string
                          - "null"
                        description: Album release date (`YYYY-MM-DD`).
                      label:
                        type:
                          - string
                          - "null"
                        description: Record label that released the album.
                      spotify_popularity:
                        type:
                          - integer
                          - "null"
                        minimum: 0
                        description: Spotify popularity score (0–100) at the time of caching.
                      cm_label:
                        type:
                          - integer
                          - "null"
                        minimum: 0
                        maximum: 2147483647
                        description: Chartmetric label ID.
                      description:
                        type:
                          - string
                          - "null"
                        description: Album description.
                      created_at:
                        type:
                          - string
                          - "null"
                        format: date-time
                        description: Date the album row was created in Chartmetric.
                      modified_at:
                        type:
                          - string
                          - "null"
                        format: date-time
                        description: Date the album row was last modified in Chartmetric.
                      cm_album:
                        type: integer
                        minimum: 0
                        maximum: 2147483647
                        description: Chartmetric album ID.
                      num_track:
                        anyOf:
                          - type: string
                          - type: number
                            format: float
                        nullable: true
                        description: Number of tracks on the album.
                      spotify_album_ids:
                        type:
                          - array
                          - "null"
                        items:
                          type: string
                        description: Spotify album IDs associated with this album.
                      itunes_album_ids:
                        type:
                          - array
                          - "null"
                        items:
                          type: string
                        description: iTunes album IDs associated with this album.
                      deezer_album_ids:
                        type:
                          - array
                          - "null"
                        items:
                          type: string
                        description: Deezer album IDs associated with this album.
                      artists:
                        type:
                          - array
                          - "null"
                        items:
                          type: object
                          properties:
                            cm_artist:
                              type:
                                - integer
                                - "null"
                              minimum: 0
                              maximum: 2147483647
                              description: Chartmetric artist ID.
                            name:
                              type:
                                - string
                                - "null"
                              description: Artist name.
                            image_url:
                              type:
                                - string
                                - "null"
                              description: Artist image URL.
                        description: Artists credited on the album.
                      cm_statistics:
                        type:
                          - object
                          - "null"
                        properties:
                          sp_popularity:
                            type:
                              - integer
                              - "null"
                            minimum: 0
                            description: Spotify popularity score (0–100).
                          num_sp_editorial_playlists:
                            type:
                              - integer
                              - "null"
                            minimum: 0
                            description: Count of Spotify editorial playlists featuring this album.
                          num_sp_playlists:
                            type:
                              - integer
                              - "null"
                            minimum: 0
                            description: Count of Spotify playlists featuring this album.
                          sp_playlist_total_reach:
                            type:
                              - integer
                              - "null"
                            minimum: 0
                            description: Sum of followers across all Spotify playlists featuring this album.
                          sp_editorial_playlist_total_reach:
                            type:
                              - integer
                              - "null"
                            minimum: 0
                            description: Sum of followers across all Spotify editorial playlists featuring
                              this album.
                        description: Cached playlist statistics for the album.
                    required:
                      - cm_album
                additionalProperties: false
              examples:
                default:
                  value:
                    obj:
                      id: null
                      upc: "3614599568697"
                      name: Deja Fu
                      local_name: null
                      local_name_locale: null
                      image_url: https://i.scdn.co/image/250c66bd1cfd8e1177055c998b43feac5a62ed0d
                      release_date: 2016-06-22
                      label: Ranka Kustannus Oy
                      spotify_popularity: 2
                      cm_label: 44035
                      description: null
                      created_at: null
                      modified_at: null
                      cm_album: 815685
                      num_track: "1"
                      spotify_album_ids:
                        - 3hpphhVJM2QTUMYuXT7nw4
                      itunes_album_ids: null
                      deezer_album_ids: null
                      artists:
                        - cm_artist: 256101
                          name: Blind Channel
                          image_url: https://i.scdn.co/image/99ff63e0299ffe1faa62d90056f6ca59aa2f3443
                      cm_statistics:
                        sp_popularity: 2
                        num_sp_editorial_playlists: 1
                        num_sp_playlists: 19
                        sp_playlist_total_reach: 10757
                        sp_editorial_playlist_total_reach: 0
  /api/album/{id}/tracks:
    get:
      summary: Album Tracks
      tags:
        - Album
      operationId: listAlbumTracks
      description: Tracks on an album identified by Chartmetric ID. Each track carries
        cross-platform IDs, artist arrays, and a `cm_statistics` aggregate.
        Prefer `cm_artists[].{id,name,code2,image_url,cover_url}` over the
        parallel `cm_artist`, `artist_names`, `code2s`, `artist_images`,
        `artist_covers` arrays — those are retained for compatibility.
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
            description: Chartmetric album ID.
          required: true
          description: Chartmetric album ID.
          examples:
            default:
              value: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  obj:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 0
                          maximum: 2147483647
                          description: Chartmetric track ID.
                        name:
                          type:
                            - string
                            - "null"
                          description: Track name.
                        local_name:
                          type:
                            - string
                            - "null"
                          description: Localized track name, when available.
                        local_name_locale:
                          type:
                            - string
                            - "null"
                          description: Locale for local_name, when available.
                        image_url:
                          type:
                            - string
                            - "null"
                          description: Track cover image URL.
                        isrc:
                          type:
                            - string
                            - "null"
                          description: International Standard Recording Code for the track.
                        description:
                          type:
                            - string
                            - "null"
                          description: Track description.
                        created_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: Date the track row was created in Chartmetric.
                        modified_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: Date the track row was last modified in Chartmetric.
                        tags:
                          type:
                            - string
                            - "null"
                          description: Comma-separated list of genres for the track.
                        cm_track:
                          type:
                            - integer
                            - "null"
                          minimum: 0
                          maximum: 2147483647
                          description: Chartmetric track ID.
                        cm_artist:
                          type:
                            - array
                            - "null"
                          items:
                            type: integer
                            minimum: 0
                            maximum: 2147483647
                          description: Chartmetric artist IDs. Index aligns with `artist_names`, `code2s`,
                            `artist_images`, `artist_covers`. Prefer
                            `cm_artists[].id`.
                        artist_names:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Artist names. Deprecated; prefer `cm_artists[].name`.
                        code2s:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                            minLength: 2
                            maxLength: 2
                            description: ISO 3166-1 alpha-2 country code (2 letters, e.g. 'US', 'BR', 'GB').
                          description: Artist country codes (ISO 3166-1 alpha-2). Deprecated; prefer
                            `cm_artists[].code2`.
                        artist_images:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                          description: Artist image URLs. Deprecated; prefer `cm_artists[].image_url`.
                        artist_covers:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                          description: Artist cover image URLs. Deprecated; prefer
                            `cm_artists[].cover_url`.
                        spotify_track_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Spotify track IDs, sorted by popularity score.
                        spotify_album_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Spotify album IDs the track appears on.
                        spotify_duration_ms:
                          type:
                            - integer
                            - "null"
                          minimum: 0
                          description: Track duration on Spotify in milliseconds.
                        itunes_track_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: iTunes track IDs.
                        itunes_album_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: iTunes album IDs the track appears on.
                        storefronts:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: ISO 3166-1 alpha-2 codes for iTunes storefronts where the track is
                            available.
                        deezer_track_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Deezer track IDs.
                        deezer_album_ids:
                          type:
                            - array
                            - "null"
                          items:
                            anyOf:
                              - type: string
                              - type: number
                                format: float
                          description: Deezer album IDs the track appears on.
                        deezer_duration:
                          type:
                            - integer
                            - "null"
                          minimum: 0
                          description: Track duration on Deezer in seconds.
                        amazon_track_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Amazon track IDs.
                        amazon_album_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Amazon album IDs the track appears on.
                        album_ids:
                          type:
                            - array
                            - "null"
                          items:
                            type: integer
                            minimum: 0
                            maximum: 2147483647
                          description: Chartmetric album IDs the track appears on. Index aligns with
                            `album_names`, `album_upc`, `album_label`,
                            `release_dates`.
                        album_names:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Album names.
                        album_upc:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Album UPC codes.
                        album_label:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Album record labels.
                        release_dates:
                          type:
                            - array
                            - "null"
                          items:
                            type: string
                          description: Album release dates.
                        cm_artists:
                          type:
                            - array
                            - "null"
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                minimum: 2
                                maximum: 2147483647
                                not:
                                  enum:
                                    - 1
                                description: "Chartmetric artist ID. Note: id=1 ('Various Artists') is
                                  rejected."
                              name:
                                type:
                                  - string
                                  - "null"
                                description: Artist name.
                              code2:
                                type:
                                  - string
                                  - "null"
                                minLength: 2
                                maxLength: 2
                                description: Artist country code (ISO 3166-1 alpha-2, e.g. 'US').
                              image_url:
                                type:
                                  - string
                                  - "null"
                                description: Artist image URL.
                              cover_url:
                                type:
                                  - string
                                  - "null"
                                description: Artist cover image URL.
                            required:
                              - id
                          description: Artists credited on the track.
                        cm_statistics:
                          type:
                            - object
                            - "null"
                          properties:
                            num_sp_editorial_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Spotify editorial playlists featuring this track.
                            num_sp_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Spotify playlists featuring this track.
                            sp_playlist_total_reach:
                              anyOf:
                                - type: number
                                  format: float
                                - type: string
                              nullable: true
                              description: Sum of followers across all Spotify playlists featuring this track.
                                Returned as a string when the value originates
                                from Snowflake.
                            num_am_editorial_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Apple Music editorial playlists featuring this track.
                            num_am_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Apple Music playlists featuring this track.
                            num_de_editorial_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Deezer editorial playlists featuring this track.
                            num_de_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Deezer playlists featuring this track.
                            de_playlist_total_reach:
                              anyOf:
                                - type: number
                                  format: float
                                - type: string
                              nullable: true
                              description: Sum of fans across all Deezer playlists featuring this track.
                                Returned as a string when the value originates
                                from Snowflake.
                            num_az_editorial_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Amazon editorial playlists featuring this track.
                            num_az_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of Amazon playlists featuring this track.
                            num_yt_editorial_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of YouTube editorial playlists featuring this track.
                            num_yt_playlists:
                              type:
                                - number
                                - "null"
                              format: float
                              description: Count of YouTube playlists featuring this track.
                            yt_playlist_total_reach:
                              anyOf:
                                - type: number
                                  format: float
                                - type: string
                              nullable: true
                              description: Sum of subscribers across all YouTube playlists featuring this
                                track. Returned as a string when the value
                                originates from Snowflake.
                            cm_track:
                              type:
                                - integer
[...]
